# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/

# Ignore environment variables file
.env

# Ignore Dockerfile (if not required inside the image)
Dockerfile

# Ignore .git directory
.git/

# Ignore temporary files created by editors
*.swp
*.swo
.vscode/

# Ignore markdown files (optional)
*.md
Jenkinsfile
reactjs-frontend/
